In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('adult-modified-missing-vals.csv')

In [10]:
for col in data:
    print(col)
    print(data[col].unique())

age
['39' '50' '38' '53' '28' '37' '49' '52' '31' '42' '30' '23' '32' '40'
 '34' '25' '?' '54' '35' '43' '59' '56' '19' '20' '45' '22' '48' '21' '24'
 '57' '44' '41' '29' '18' '47' '46' '79' '27' '67' '33' '76' '17' '36'
 '55' '61' '70' '64' '71' '68' '66' '51' '58' '26' '60' '90' '75' '65'
 '77' '63' '62' '80' '74' '72' '69' '73' '81' '78' '88' '82' '83' '84'
 '85']
workclass
['Public' 'Self-emp' 'Private' '?']
education
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]
marital-status
['Single' 'Married']
race
['White' 'Black' 'Asian' 'Amer-Indian' 'Hispanic']
sex
['Male' 'Female']
hours-per-week
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29]
income
['<=50K' '>50K']

In [9]:
data.education.unique()

array([13,  9,  7, 14,  5, 10, 12, 11,  4, 16, 15,  3,  6,  2,  1,  8])

In [20]:
pd.crosstab(data.race, data.education)

education,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
race,,,,,,,,,,,,,,,,
Amer-Indian,0,0,0,5,0,9,4,0,35,29,6,5,6,0,0,0
Asian,0,1,4,5,3,4,7,3,71,69,11,5,78,28,12,8
Black,1,4,6,17,23,31,52,19,377,219,34,35,105,21,5,4
Hispanic,0,3,3,6,2,4,5,3,25,11,4,3,11,1,2,0
White,15,41,75,172,125,247,295,84,2724,1977,361,270,1430,481,155,104